$color: (
  grey: #888,
  lightgrey: #aaa,
  white: #fff
);

$bg-color: (
  grey: #ddd,
  lightgrey: #eee,
  white: #fff
);

@each $name, $value in $color {
  .color-#{$name} {
    color: $value !important;
  }
}

@each $name, $value in $bg-color {
  .bg-#{$name} {
    background-color: $value !important;
  }
}
