.psr {
  position: relative !important;
}

.sticky {
  position: sticky !important;
}

.fixed {
  position: fixed !important;
}

.ps-fix,
.psa {
  position: absolute !important;
}

.ps-fix,
.top-0 {
  top: 0 !important;
}

.ps-fix,
.right-0 {
  right: 0 !important;
}

.ps-fix,
.bottom-0 {
  bottom: 0 !important;
}

.ps-fix,
.left-0 {
  left: 0 !important;
}

.z-0 {
  z-index: 0 !important;
}

.z-1 {
  z-index: 1 !important;
}

.z-2 {
  z-index: 2 !important;
}

.z-3 {
  z-index: 3 !important;
}
