.max-h-10 {
  max-height: 10em !important;
}

@each $size in (25, 15) {
  .max-w-#{$size} {
    max-width: $size+em !important;
  }
}

@each $size in (10, 5, 2) {
  .min-w-#{$size} {
    min-width: $size+em !important;
  }
}

@each $size in (100, 90, 75, 50, 25, 33.33333, 66.66667) {
  .w-#{round($size)} {
    width: $size+% !important;
  }
}

@each $size in (100, 50) {
  .h-#{$size} {
    height: $size+% !important;
  }
}

@each $size in (20, 12, 8, 7, 5, 3, 2) {
  .w-#{$size}rem {
    width: $size+rem !important;
  }
}

@each $size in (12, 10, 7, 3, 2) {
  .h-#{$size}rem {
    height: $size+rem !important;
  }
}

.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}
