.text-nowrap {
  white-space: nowrap !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.strike {
  text-decoration: line-through;
}

@each $size
  in (x-small, smaller, small, medium, larger, large, x-large, xx-large)
{
  .f-#{'' + $size} {
    font-size: $size !important;
  }
}

.monospace {
  font-family: monospace;
}

.break-word {
  word-break: break-all;
  word-wrap: break-word;
}
